body {
  position: relative;
  z-index: -10;
  text-align: center;
  background-color: black;
}

#parralel {
  border-bottom: 100px solid rgba(247, 3, 3, 0.568);
  border-right: 50px solid transparent;
  height: 200px;
  width: 350px;
}
.nav {
  position: relative;
  padding-top: 30px;
}

.pardiv {
  border-bottom: 100px solid rgba(247, 3, 3, 0.568);
  border-left: 50px solid transparent;
  width: 320px;
  height: 40px;
  margin-left: auto;
}

.resumediv {
  display: flex;
  margin-top: 5em;
  justify-content: center;
  align-items: center;
}

.resumebox {
  border-bottom: 100px solid rgba(4, 138, 131, 0.548);
  border-right: 50px solid transparent;
  width: 320px;
  height: 40px;
  margin-top: 7%;
}

.resumebox h3 {
  padding-top: 27px;
  font-family: 'Josefin Slab', sans-serif;
  color: whitesmoke;
}

.mycard {
  display: flex;
  margin-top: 4em;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .mycard {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }
}
.mycard h1 {
  font-family: 'Josefin Slab', sans-serif;
  color: pink;
}
.mycard h6 {
  font-family: 'Dancing Script', sans-serif;
  font-weight: lighter;
  color: pink;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -9;
  top: 0;
  left: 0;
}

nav a {
  font-family: 'Catamaran', sans-serif;
  color: rgba(255, 255, 255, 0.658);
}

nav a:hover {
  font-family: 'Catamaran', sans-serif;
  color: white;
}

.project-container {
  color: antiquewhite;
  width: 100%;
}

.project-container p {
  font-size: 0.8em;
}

.project-item {
  align-items: center;
  background-color: rgba(195, 190, 247, 0.158);
  margin: 20px;
}

.project-icon {
  text-align: center;
  padding: 20px;
  width: 150px;
  height: 137px;
}
.projectdesc {
  padding-right: 10px;
}
.projecttools {
  text-align: end;
  padding-right: 10px;
}
.projecttitle {
  border-bottom: 50px solid rgba(4, 138, 131, 0.548);
  border-left: 50px solid transparent;
  height: 40px;
  text-align: center;
  font-size: 1em;
}
